@charset "EUC-KR";

/* layoutRegister.css */

body {
	font-family: dotum;
	color: #666;
}

form{
	width: 600px;
	position: relative;
}

fieldset{
	width: 90%;
	margin: 0 auto;
	border: none;
	padding: 0;
}

legend{
	font-weight: bold;
	color: #7aa3eb;
	padding: 10px 0;
}

strong{
	color: #cd1076;
}

label{
	font-size: 0.75em;
}

strong.notice{
	position: absolute;
	top: 1.5em;
	right: 3em;
	font-size: 0.7em;
	letter-spacing: -1px;
}

.table{
	border-collapse: collapse;
}

.table tr{
	border: 1px solid gray;
}

tr td:first-of-type{
	width: 150px;
}

.table td{
	border: 1px solid gray;
}

.label{
	float: right;
	font-size: 0.75em;
	font-weight: bold;
	padding: 3px 10px 0 0;
}

input[type=text], input[type=password], , input[type=radio]{
	width: 35%;
	height: 1.1em;
	font-size: 0.75em;
	border: 1px solid #dcdde3;
}

input[type=submit]{
	padding: 2px 10px;
	margin: 5px;
}

#zipcode{
	float: left;
}

#zipcode .zipcode{
	width: 50px;
}

#zipcode .address{
	width: 200px;
}

.tel{
	width: 80px;
}
